$heightLogo: 7em;
$widthLogo: 7em;
$fondoIndex: url(./assets/images/backgroundPizzarra.jpg) ;
$sizeFondo: 1755px 899px;
$animationH1: fadeIn 5s ease 0s normal;
$animationP: fadeInDown 4s  0s normal;
$textEffect: 3px 3px 3px crimson;
$textEffectBlue: 3px 3px 3px rgb(20, 83, 220);
$colorTextoW: #ffff;
$efectosTextos:( parrafo:3px 3px 3px #dc143c, titulo:3px 3px 3px #1453dc);