*{
    margin: 0;
    padding: 0;
}
#navbar-logo {
    height: 7em;
    width: 7em;
}
body {
    background-image: url(assets/images/backgroundPizzarra.jpg);
}
/*****Index****/
#indexCard {
    h2{
        font-size: 20px;
    }
    h5{
        font-size: 18px;
    }
    p {
        font-size: 12px;
    }
}
.imgCard1 {
    height: 12em;
    width: 12em;
    border-radius: 20%;
}
.imgCard2 {
    height: 12em;
    width: 12em;
    border-radius: 20%;
}
.imgCard3 {
    height: 12em;
    width: 12em;
    border-radius: 20%;
}

#carousel1 {
    img {
        height: 18em;
        width: 30em;
        border-radius: 20%;
    }
}

/******Carta*****/
.carta img {
    padding: 1em;
  -w: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  height: 25em;
  width: 20em;
}
.carta img:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
